
<header class="bg-sky-400 w-full sticky top-0 flex h-16" >

<div class="flex gap-7 my-auto " >

    <div class=" hover:border-gray-300 hover:border-b-2 hover:border-transparent " >فروشگاه</div>
    <div class=" hover:border-gray-300 hover:border-b-2 hover:border-transparent " >فروشگاه</div>
    <div class=" hover:border-gray-300 hover:border-b-2 hover:border-transparent " >فروشگاه</div>
    <div class=" hover:border-gray-300 hover:border-b-2 hover:border-transparent " >فروشگاه</div>
    <div class=" hover:border-gray-300 hover:border-b-2 hover:border-transparent " >فروشگاه</div>
    <div class=" hover:border-gray-300 hover:border-b-2 hover:border-transparent " >فروشگاه</div>

</div>
<button>
    btn
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_cart_checkout"></mat-icon>
    <mat-icon>shopping_cart_checkout</mat-icon>

</button>

<div class="" >

</div>
    </header>

