<header class="flex  content-center justify-end  py-9 px-7" >
  
    <div class="text-custom-white text-xl font-medium justify-self-center mx-auto flex" >Playing Now</div>
    <!-- <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon> -->
    <!-- <mat-icon class="bg-teal-400  text-4xl font-bold"   fontIcon="arrow_back"></mat-icon> -->
<div class="justify-self-end" >
    <button  class=" justify-self-end float-left text-custom-white" >
        <a routerLink="/list"  href="" ><mat-icon class="text-xl scale-150" >arrow_back</mat-icon></a>
    </button>
</div>
</header>