
    <div class="grid grid-cols-3 px-3 py-1" >
        <div class="col-span-2 flex justify-between px-3" >
            <div class="w-4/12" >
                <h1>text</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, magni labore? Similique sint praesentium quo nulla omnis cupiditate eaque tempore optio eos voluptate? Saepe error dolore laudantium deserunt in. Ut.</p>
            </div>
       
        <div class="w-4/12" >
            leaflet map
        </div>
    </div>
        <div>
            <form class="flex flex-col gap-1" >
                <label for="">عنوان</label>
                <input class="w-3/5 rounded-md"  type="text">
                <textarea ></textarea>
            </form>
        </div>
    </div>
