.controller-card{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 150px;
    justify-content: space-evenly;
    position:sticky;

        top: calc( 100vh - 150px );
  

 

    &__conttroller-icon{
        transform: scale(2);
        color: #FCFCFC;
    }
}